---
name: Spell Check

"on":
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          clean: false

      - name: Install python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install and run codespell
        run: |
          python -m pip install uv
          uvx codespell -c
